{% extends '../layout.twig' %}

{% block body %}
	<div class="container d-flex align-items-center flex-row flex-grow-1 justify-content-center">
		{% for data in mapList %}
			<div class="mx-2 card">
				<h4 class="px-3 textshadow text-left" data-color>{{data.map.name}}</h4>
				<h4 class="px-3 textshadow text-left">{{data.map.authorNick}}</h4>
				<img class="card-img" src="{{data.map.thumbnailUrl}}"/>
				<div class="card-body">
					<table class="table table-sm table-borderless textshadow">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Time</th>
								<th scope="col" class="text-left">Name</th>
							</tr>
						</thead>
						<tbody>
							{% for rec in data.recs %}
								<tr>
									<td>{{rec.rank}}</td>
									<td>{{rec.time}}</td>
									<td class="text-left">{{rec.name}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
